<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjy.pickphotos.pickphotos" >
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application android:theme="@style/AppTheme">
        <activity android:name=".ui.PicActivity" />
        <activity android:name=".crop.CropActivity" />
        <provider
            android:name=".util.SjyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sjy_provider_paths" />
        </provider>
    </application>
</manifest>
